<section class="events events-index" id="eventsIndex">
    <div class="events-container">
        <div class="events-index-heading">
            <h1 class="heading-text"><%- events[0].eventsTitle %></h1>
            <p class="heading-paragraph"><%- events[0].eventsDescription %></p>
        </div>
<%- events[0].eventsContainer %>
    </div>
</section>

<script src="/js/events.js"></script>